<%- include('partials/header.ejs') %>

            <div class="form-container container">
                <h2>Please log in</h2>
                <form action="/login" method='POST'>
                    <div class="form-group">
                        <input type="text" class='form-control' name='username' placeholder="Username" required>
                        <input type="password" class='form-control' name='password' placeholder="Password" required>
                    </div>
                    <button type='submit' class='btn btn-lg btn-dark'>Login</button>
                </form>
                <p style="margin-top: 1rem; color: rgb(163, 163, 163);">- or -</p>
                <a href="/signup">Sign Up</a>
            </div>

            <div class="row footer-container">
                <div class="col-12">
                    <h5>Website by: <a href="http://www.bren-10.co.za/" target="_blank">Bren-10</a></h5>
                    <p>&copy; Andre Schumann, Brendan Stander - 2020</p>
                </div>
            </div>

        </div>
    
<%- include('partials/footer.ejs') %>