<%- include('partials/header.ejs') %>

            <div class="container"
            style="color: rgb(190, 190, 190);
                    margin-top: 4rem;
                    text-align: center;">
              <h1>Profile page will be implemented when in high demand.</h1>
              <h4>Contact <a href="http://www.bren-10.co.za/" target="_blank">page creator</a> or DeckStarG for more info.</h4>
            </div>

            <div class="row footer-container">
                <div class="col-12">
                    <h5>Website by: <a href="http://www.bren-10.co.za/" target="_blank">Bren-10</a></h5>
                    <p>&copy; Andre Schumann, Brendan Stander - 2020</p>
                </div>
            </div>

        </div>
    
<%- include('partials/footer.ejs') %>