body, html {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: 'Recursive', sans-serif;
}

.landing-container {
    height: 100%;
    width: 100%;
}

.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.video-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -50%);
}

.container-fluid {
    padding: 0;
}

.navbar-toggler:focus{
    outline: none;
}

.navbar {
    font-size: 1.4rem;
    padding: 2rem 0 0 2rem;
}

.navbar a {
    padding: 0.8rem 0.2rem;
}


.navbar-nav .nav-link:focus, .navbar-nav .nav-link:hover {
    color: rgb(190, 15, 15) !important;
}

.nav-item img {
    padding-top: 10%;
    width: 3rem;
}

.about-container {
    color: rgb(190, 15, 15);
    padding: 0 3rem;
    margin-top: 5rem;
}

.about-container p{
    padding-left: 1.6rem;
}

.about-container h2 {
    font-weight: 700;
}

hr {
    background-color: rgb(190, 15, 15);
    margin: 1.8rem 0;
}

.news-container{
    color: rgb(199, 198, 198);
    padding: 0 3rem;
}

.news-card {
    padding: 2rem;
    background-color: rgba(128, 128, 128, 0.212);
}

.news-card p {
    font-size: 0.9rem;
}

.news-card a {
    color: rgb(190, 15, 15);
}

.news-vid {
    margin: auto auto;
}

.contact-container{
    color: rgb(190, 15, 15);
    padding: 0 10rem;
    text-align: center;
}

.btn-danger {
    background-color: rgb(190, 15, 15);
    border: none;
}

.footer-container {
    text-align: center;
    margin: 3rem 0 0 0;
    color: rgb(199, 198, 198);
}

.footer-container h5{
    font-size: 1rem;
}

.footer-container p{
    font-size: 0.7rem;
}

.readMoreVid {
    width: 50%;
    margin: 0 auto;
}

.readMoreText {
    font-size: 1.3rem;
    margin: 2rem 0;
    text-align: center;
    color: rgb(199, 198, 198);
}

.readMoreTitle {
    margin-top: 2rem;
    text-align: center;
    color: rgb(199, 198, 198);
}

.comments-container h5 {
    color: rgb(190, 15, 15);
}

.comments-container a {
    color: inherit;
    /* margin-right: 0.2rem; */
    font-size: 0.9rem;
}

/* .comments-container a:hover {
    transition-duration: 0.3s;
    color: red;
} */

.comments-container p {
    color: rgb(194, 194, 194);
}

.comments-container form {
    display: inline;
}

.peripheral-btns {
    color: inherit;
    border: none;
    background: none;
    font-size: 0.9rem;
    padding: 0 0.3rem;
}

.peripheral-btns:hover {
    color: red;
}

@media (max-width: 991px){

    .nav-item {
        width: 20%;
    }

    .about-container {
        padding: 0 1rem;
    }

    .news-container {
        padding: 0 1rem;
    }

    .news-vid {
        padding: 0 0 2rem 0;
    }
    
    .contact-container{
        padding: 0 1rem;
    }

    .hide-text {
        display: none;
    }

    .nav-link {
        color: rgb(255, 251, 251) !important;
    }
}